{% load static %}
{% load mathfilters %}
{% include "includes/landing_top.html" %}

<body>
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	<div data-vide-bg="{% static 'video/bg.jpg' %}">
		<!-- banner -->
		{% include "includes/banner.html" %}
		<!-- //banner -->
	</div>
	<!-- special -->
	<div class="special">
		<div class="container">
			<div class="special-heading">
				<h3>Today Specials</h3>
			</div>
			<div class="special-grids">
			{% for f in food %}
					<div class="col-md-4 w3l-special-grid">
						<a href="{% url 'hotel:food_details' f.id %}">
							<div class="col-md-6 w3ls-special-img" style="background: url('/media/{{f.image}}') no-repeat -17px 0px; background-size: cover;">
								<div class="w3ls-special-text effect-1">
									<h4>{{f.name|truncatechars:11}}</h4>
								</div>
							</div>
						</a>

						<div class="col-md-6 agileits-special-info">
							<a href="{% url 'hotel:food_details' f.id %}"><h4>{{f.name|truncatechars:11}}</h4></a>
                            <p>{{ f.content_description|truncatechars:90 }}</p>
                           <!-- Adding the price tag -->
                        <p>Price: Rs.{{models.sale_price}}</p>
                         </div>
					</div>
			{% endfor %}
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special -->
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="features-heading">
				<h3>Our Features</h3>
			</div>
			<div class="features-grids">
				<div class="col-md-4 features-left">
					<div class="features-left-info">
					</div>
				</div>
				<div class="col-md-8 features-right">
					<div class="features-right-info">
						<h4>The best restaurants in Sri Lanka keep with the cosmopolitan feel of this Colombo city, which blends a myriad of influences from all around the country, both in its history and its cuisine. Indian food itself has already been shaped by Indian chef,  Chinese ,Sea foods made by the Sri Lankan chefs, so you’re almost certain to find something to your taste in Sri Lanka.</h4>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
                            <p>Implement an online reservation system that allows customers to book a table in advance.
   - Provide options for users to specify any dietary preferences or special requests during the reservation process</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-asterisk" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Provide an interactive menu that allows users to easily browse through different cuisines such as Sri Lankan, Indian, Chinese, and Seafood.
   - Include filtering options that allow users to sort and narrow down their choices based on preferences like vegetarian or non-vegetarian, spice level, or dietary restrictions. </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-money" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
                            <p>Our restaurant price ranges are very normal and fair.you can eat large portion for cheap price. </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-cog" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
                            <p>Include detailed information about each dish, including its origin, key ingredients, and a brief description of the flavors.
   - Consider adding a section with recipes or cooking methods to engage users and provide insights into the culinary traditions of each cuisine.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	<!-- customer -->
	<div class="customer">
		<div class="container">
			<div class="customer-heading">
				<h3>What Our Customers are Saying</h3>
			</div>
			<div class="customer-heading-grids">
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Excellent Foods</p>
					</div>
					<div class="customer-img">
						
						<h5>Kasun Kalhara</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Its the best foods I eat ever had</p>
					</div>
					<div class="customer-img">
						
						<h5>Nimal Jayasuriya</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Super Tasty and Delicious</p>
					</div>
					<div class="customer-img">
						
						<h5>Mahinda</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //customer -->
	{% include "includes/footer.html" %}
